
<div class="row center-text">
  <div class="small-6 small-centered columns ">
    <h2> There is still so much to do</h2>
<% @adventures.each do |a| %>
    <%= a.destination %><br />
    <%= link_to 'Destroy',@adventure , method: :delete %>
    <hr />
<% end %>
    </div>
    </div>